---
import Perfumes from '../components/Perfumes.astro';
---

<html lang="es">
  <head>
    <title>Catálogo de Perfumes</title>
    <meta charset="UTF-8" />

  </head>
  <body class="bg-gray-50 text-gray-900">
    <h1 class="text-3xl font-bold text-center my-6">Perfumes Exclusivos</h1>
    <Perfumes />
  </body>
</html>
